.rep_li{
  margin-top: 10px;
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 4px;
  b{
    font-size: 12px;
    line-height: 30px;
  }
  p{
    font-size: 12px;
    color:#586069;
    margin-bottom: 5px;
  }
  span{
    font-size: 12px;
    color: #586069;
  }
}